In [2]:
# Assignemnt link: https://drive.google.com/file/d/1RjQBjq90BeqNuon_JUlrih7Tnda732cs/view

# Question 1:

# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

Answer:
* ---> expression( for multiplication)
'hello' ---> value ( string)
-87.8 ---> value (floating number)
-  ---> expression for substraction
/  ---> expression for divison
+  ---> expression for addition
6  ---> value (integer)


# Question 2:

What is the difference between string and variable?

Answer:
Variable is used to define an entity whereas string is the value that can be assignemd to a variable.
Variable acts like a container that can accomodate values (numeric, strinh, list , tuple, ect...).
e.g:
    a = "ajay"
 here a is the variable that has value as "ajay" which is a string
string is always denoted inside a single quotes or doube quotes.

# Question 3:

Describe three different data types.

int
float
string
complex

In [6]:
a = 5
type(a)

int

In [7]:
a = 6.1
type(a)

float

In [17]:
a = "ajay"
type(a)

str

In [15]:
a = 5 +6.1j
type(a)

complex

# Question 4 :

What is an expression made up of? What do all expressions do?

Expressions are made up of values and mathematical operations(operands).
Expressions peroforms mathermatical operations over variable or values depending on their nature
Various expresions are : 
    + : for additon
    -: for substraction
    * : for multiplication
    @ : for matrix multiplication
    / : for divison
    // : for modulo

# Question 5:

This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expressions are made up of only values and operands and they return some value upon their execution whereas statemets does not return values.

eg: 3+5, "ajay"+" "+ "bhadauria"  these are expressions while
    a = 3+5 , name = "ajay"+" "+ "bhadauria" in this print(a) or print(name) is a statement.

# Question 6:

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [19]:
bacon = 22
bacon + 1

23

In [20]:
bacon

22

here bacon+1 only adds 1 to the value of bacon , it is not associated with the variable bacon so it does not update the value of variabe bacon

# Question:7

What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [21]:
'spam' + 'spamspam' #IT simply adds two strings

'spamspamspam'

In [23]:
'spam' * 3 #here string is multipilied thrice  i.e string will get repeteated no. of times multipiled by.

'spamspamspam'

# Question:8

Why is eggs a valid variable name while 100 is invalid?

A variable name cannot start with a numeric value thats why 100 is not a valid variable name whereas eggs is a valid one.eggs100 can be a valid variable name though.

In [27]:
eggs = "can be a valid varibale name"

In [26]:
100 = "cannot be a varibale name"

SyntaxError: cannot assign to literal (<ipython-input-26-9065f5436f70>, line 1)

In [28]:
eggs100 = " can also be a variable name"

# Question 9

What three functions can be used to get the integer, floating-point number, or string version of a value?

int(), float(), str()

In [33]:
a = "3" 
int(a)

3

In [34]:
a = 3
str(a)

'3'

In [35]:
a = "3"
float(a)

3.0

# Question 10:

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Concatination of string with numeric (int, float) values is not a valid operation. only strings can be concatenated by using '+' operand.
if we have to concatenate string with some other data type then that should be typecasted to a string.

In [37]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [39]:
'I have eaten ' + str(99) + ' burritos.' # typecasting 99 to string

'I have eaten 99 burritos.'